.modal-header
	button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
	h4.modal-title Contact
.modal-body
	p Mesajul tău a fost trimis cu succes și va fi citit în cel mai scurt timp. Vei primi un răspus în cel mult 24 ore.
.modal-footer
	button.btn.btn-default(type='button', data-dismiss='modal') Închide