body, html {
	margin: 0;
	font-family: "Open Sans Condensed";
	font-size: 14px;
	width: 100%;
	height: 100%;
}
/*Admin Panel*/
#admin.row{
	height: 100%; 
	display:table-cell;
	vertical-align: middle;
}
#admin.container{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
  background-color: #dddddd;
}
#admin.centering {
  float:none;
  margin:0 auto;
}
/* Navigation */

.navbar.navbar-default {
	background: rgba(0, 0, 0, .8);
	border: none;
	z-index: 100;
}

.collapse.navbar-collapse ul {
	width: 100%;
	text-align: center;
}

.collapse.navbar-collapse ul li {
	float: none;
	display: inline-block;
}

.nav.navbar-nav li a {
	padding: 25px 30px;
	color: #ccc;
	font-size: 1.5em;
	text-transform: uppercase;
	z-index: 100;
}

.nav.navbar-nav li a:hover {
	color: #fff;
	text-decoration: none;
}

.nav.navbar-nav li a:hover:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 5px solid #ccc;
}

/* General */

.default-text {
	font-size: 2em;
	text-align: justify;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.centre {
	text-align: center;
}

.page-section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 50px 100px;
	background: #eee;
}

.wrapper {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
}

.wide {
	position: relative;
	display: block;
	width: 100%;
}

.title {
	color: #fff;
	font-weight: 300;
}

.white {
	color: #fff;
}

.main-title {
	margin: 50px auto 100px auto;
}

.main-title:after,
.main-title:before {
	content: "×";
	color: #aaa;
	margin: auto 15px;
}

#contact .main-title:after,
#contact .main-title:before {
	color: #ddd;
}

.title-lg {
	font-size: 5em;
}

.faded {
	font-weight: 300;
	color: rgba(255, 255, 255, .5);
}

.inverted {
	color: #333;
}

.cover-title {
	position: relative;
	margin: 0;
	padding: 0;
	top: 50%;
	margin-top: -120px;
	color: rgba(255, 255, 255, .9);
	z-index: 1;
}

.cover-title .title {
	font-family: "Open Sans";
}

.cover-title .title .date {
	font-family: "Open Sans Condensed";
}

.cover-title a.btn {
	font-size: 1.8em;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 30px;
	background: transparent;
	color: #fff;
}

.cover-title a.btn:hover {
	background: #fff;
	color: #333;
}

/* Cover section */

#cover {
	height: 100%;
	background: url('../img/bk.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#cover .mask {
	width: 100%
	z-index: -1;
}

#cover .mask:after {
	content: "";
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: .5;
}

/* Location Section */

#location {
	background: url('../img/map.jpg');
}

#location #map-canvas {
	position: relative;
	width: 100%;
	height: 300px;
	z-index: 5;
}

#location .photo-preview {
	width: 100%;
	max-width: 500px;
	margin: 10px auto;
}

/* Speakers section */

.grid-item {
	padding: 10px 15px;
}

.speaker-box {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 2px 5px 0.5px #d0d0d0;
}

.speaker-photo {
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.speaker-info {
	padding: 1.3em;
}

.speaker-info .speaker-name {
	margin-top: 0;
	font-weight: 600;
}

.speaker-info .speaker-description {
	font-size: 1.3em;
}

/* Contact section */

#contact {
	background: #5bc0de;
}

#contact .title {
	margin-bottom: 0px;
}

#contact .subtitle {
	margin-bottom: 50px;
	font-weight: 300;
}

#contact .form-control {
	width: 100%;
	border: 1px #4aafcd;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0.5px #399ebc;
}

#contact .row {
	margin-bottom: 25px;
}

.btn-send-message,
.btn-send-message:focus {
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 1.6em;
	background: transparent;
	outline: none;
}

.btn-send-message:hover {
	background: #fff;
	color: #333;
}

/* Footer Section */

#footer {
	background: #111;
	color: #ccc;
	padding-bottom: 25px;
}

.row {
	margin-bottom: 10px;
}

.fb-like-box {
	display: block;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#footer .others {
	margin: 10px auto;
}

#footer .others .link {
	margin-right: 10px;
}

.err {
	border: 1px solid transparent;
	border-radius: 4px;
}

.contact-form .has-error {
	border: 1px solid red;
}

.styled-modal {
	border-radius: 4px;
}